//  FONTS
@mixin font-face($family, $path, $weight: normal, $style: normal){
    @font-face {
        font-family: $family;
        src: url($path) format('opentype');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('Material Icons', '../../fonts/MaterialIcons-Regular.ttf', 400, normal);
@include font-face('Inter', '../../fonts/Inter-Regular.ttf', 400, normal);
