.single-product-card{
    background-color: #FAFBFC;
    border-radius: 25px;
}
.rating-list li {
    color: #ffd700;
  }
  
  .rating-list {
    list-style: none;
  }
  .size-box{
      background-color: #F6F6F6;
      color: rgba(63, 62, 63, 0.3);
      font-size: 12px;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
  }
  .selected{
    background-color: #818AF9;
    color: white;
  }
  .add-icon,
  .remove-icon{
      color: #828EF9;
      border: 1px solid #828EF9;
      padding: 3px;
      font-size: 16px;
      border-radius: 3px;
  }
  .count{
    border: 2px solid #D4D4D4;
    border-radius: 10px;
    font-size: 15px;
    padding: 9px 14px 7px;
  }
  .add-to-card{
      background-color: #828EF9 !important;
      color: white !important;
  }
  .add-summary-card{
    position: fixed;
    bottom: 20px;
    width: 85%;
  }
  .product-side-img{
    position: relative;
    border-radius: 25px 0 0 25px;
  }
  .back{
      position: absolute;
      left: 2.7rem;
      top: 1.85rem;
  }
  .hot-sale{
      background-color: #F12B2C;
      color: white;
      font-size: 11px;
      padding: 2px 6px;
      border-radius: 4px;
      display: inline-block;
  }
  .product-details{
      background-color: #FAFBFC;
      border-radius: 0 25px 25px 0;
  }
  @media (max-width: 820px){
    .product-side-img{
      width: inherit;
    }
    .back{
      left: 1.4rem;
      top: 1rem;
  }
  }
  @media (width: 820px){
    .back{
      left: 3.5rem;
      top: 3rem;
  }
}
 